<!DOCTYPE html>
<html>
<head>
    <title>Kai Nagahari Portfolio</title>
    <link rel="stylesheet" type="styl/css" href="/styles/style.css">
</head>
<body>
    <div class="container">
        <div class="intro">
            <h1>Welcome to Kai Nagahari Portfolio</h1>
            <p>2024/3 制作途中です．．．</p>
        </div>

        <main>
            <section class="about">
                <h2>About</h2>
                <h2 class="name">長張快 - Nagahari Kai</h2>
                <p>
                    " 2003年7月生まれ、大阪府出身。2022年4月に立命館大学情報理工学部に入学。ただいま実世界情報コースに所属する2年生。小学校1年生〜高校3年生までの13年間、野球をしていた。 "
                </p>
            </section>

            <section class="skill">
                <h2>Skill</h2>
                <ul>
                    <li>web開発</li>
                    <li>アンドロイドアプリ開発</li>
                </ul>
            </section>

            <section class="works">
                <h2>Works</h2>
                <ul>
                    <li>たすくちゃん
                        <p>todoリストのwebアプリ</p>
                    </li>
                    <li>551ゲーム
                        <p>関西のものかどうかのまるばつゲームのスマホアプリ</p>
                    </li>
                    <li>binaryの壁（ばなかべ）
                        <p>10進数の数字を2進数に変えるスマホゲーム</p>
                    </li>
                </ul>

            <!-- <section class="sns">
                <p>
                    <a href="https://twitter.com/home">Twitter</a>
                </p>
            </section> -->


        </main>

        <div class="footer">
            <h2>Contact</h2>
            <a href="mailto:kaichiku727@gmail.com" class="contact__link">kaichiku727@gmail.com</a>
            <h2>Link</h2>
            <a href="https://github.com/bearl27" class="contact__link">GitHub</a>
            <p id="copy">&copy; 2024 bearl</p>
        </div>
    </div>

</body>
</html>